*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box ;
}
.main{
    height: 500px;
    width: 50%;
    background-color:skyblue;
    place-content: center ;
    padding: 10px 50px;
}
.main .con{
 font-size: 30px;
 font-weight: 200;
}

.grid-content{
    background-color: aliceblue;
}

.grid-content .container{
   margin: 0px 15px;
}

.grid-content .grid-padding{
    padding: 15px 0px;
}

.grid-content .grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

.grid-content .grid-box .addsec {
   font-size: small;
   line-height: 20px;
}

.grid-content .grid-box .mailsec{
    font-size: small;
    position: relative;
    bottom: -12px;
}

.grid-content .grid-box .mailsec span{
    color: red;
}

.grid-content .grid-box .mailsec p{
    color: rgb(51, 147, 147);
}

.grid-content .grid-box .iconsec{
    color: red;
    font-size: 20px;
}

/* ===============================flex======================= */

.flex-content{
    background-color: aliceblue;
    height: 280px;
    
}

.flex-content .container{
    margin: 0px 10px;
}

.flex-content .flex-padding{
    padding: 10px 0px;
}

.flex-content .flex-box{
    display: flex;
}

.flex-content .flex-box .formsec{
    line-break: 5px;
    flex:1
}

.flex-box .formsec .form-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.formsec .form-grid input{
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-shadow: none;
    box-shadow: none;
    border-style: solid;
    border-width: 1px;
}

.formsec textarea{
    border-radius: 3px;
    
}

.formsec button{
    height: 30px;
    width: 50px;
    background-color: red;
    color: white;
    margin-top: 10px;
    border-radius: 3px;
    border-style: none;
}

.flex-content .flex-box .mapsec{
    flex:1
}

.flex-content .flex-box iframe{
    height: 230px;
    width: 320px;
}

.flex-content .flex-box i{
    font-size: 20px;
}

.mapsec .facebook{
    color: royalblue;
}

.mapsec .twitter{
    color: aqua;
}

.mapsec .invision{
    color: rgb(51, 147, 147);
}

.fa-square-github{ 
    color: black;
}